/*for product sans font*/
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}


div {
	display:block;
	margin: auto;
	text-align:center;
	padding-top: 14%;

}

.logo {
	width: 270px;
	height: 95px;
	display: block;
	margin:auto;
}

/* search bar */
.search {
	width: 35%;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	padding: 10px;
	border-radius: 55px;
	font: 16px Product Sans, sans-serif;
	text-indent:5px;
}

/* hover property for search bar */
.search:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2); ;
}

/* search countries button */
.button {
	border: 1px solid #d3d3d3;
	background: #f3f3f3;
	color:#696969;
	margin-left:4px;
	margin-right:4px;
	margin-top: 15px;
	font-family: Nunito,Product Sans, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 7px;
	border-radius: 55px;
}

/* hover property for search countries button */
.button:hover {
	color: #2a2a2a;
	border: 1px solid #bdbdbd;
}


/* flexBox for countryList that contains cardviews of countries */
#countryList {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    padding: 30px;
}

/*cardview*/
#countryList .card {
  flex: 1 0 26%; /* explanation below */
  min-width: 25%;
  max-width: 25%;
  transition: 0.5s;
  text-align: center;
  margin: auto;
  padding: 0px;
  position: relative;
  box-shadow: 0;
  transform: scale(0.95);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  font-family: Nunito,Product Sans, sans-serif;
}

/* hovering card effect */
#countryList .card:hover {
    
	transition: 0.5s;
	transform: scale(1);
	box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }


/* for flag image in cardview */
.card-flag  img{
    width: 90%;
    height: 220px;
    object-fit: cover;
    border: 1px solid #d3d3d3;
}

/* for flag name in cardview */
.card-body{
	margin-top: 0px;
	padding: 5px;
}

/* error message */
.error{
	font-family: Nunito,Product Sans, sans-serif;
	color:red;
	text-align: center;
	visibility: hidden;
}

/* search results */
.normal{
	font-family: Nunito,Product Sans, sans-serif;
	text-align: center;
	color: blue;
	font-style: italic;

}

/* On screens that are 1000px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .search {
    width: 50%;
  }
  .button {
  	width: 50%
  }
  .logo{
  	width: 30%;
  }
  #countryList .card {
  	min-width: 50%;
  	max-width: 50%;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .search {
    width: 90%;
  }
  .button {
  	width: 90%
  }
  .logo{
  	width: 50%;
  }
  #countryList .card {
  	min-width: 100%;
  	max-width: 100%;
  }
}
/* uniformness across multiple browsers */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
